body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(255, 0, 224, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}


#heart {
  animation-name: heartbeat; 
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .85 );
    text-shadow: 0 0px 2px black;
  }
  10%
  {
    transform: scale( 1 );
    text-shadow: 0 2px 2px black;
  }
  20%
  {
    transform: scale( .85 );
    text-shadow: 0 0px 2px black;
  }
  30%
  {
    transform: scale( 1 );
    text-shadow: 0 2px 2px black;
  }
  40%
  {
    transform: scale( .85 );
    text-shadow: 0 0px 2px black;
  }
  100%
  {
    transform: scale( .85 );
    text-shadow: 0 0 0 transparent;
  }
}
